.services-back-button {
    background-color: #D9D9D9 !important;
    color: #404040 !important;

    position: absolute;
    left: 78px;
    top: 114px;
    border-radius: 0px !important;

    border: none !important;
}

.services-back-button:hover {
    background-color: #404040 !important;
    color: #D9D9D9 !important;
}