.movingservicesnoteam {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    align-items: center;
}

.image-movingnoteam {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: auto;
}