.navbar {
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
    margin-left: auto;
    display: inline-flex;
}

.navbar a,
.navbar b,
.navbar a:focus {
    color: orangered;
}

.navbar a:hover,
.navbar b:hover,
.navbar a:focus {
    color: #fff;
}

.navbar img {
    width: 200px;
}

.navbar button {
    color: orangered;
    border-color: orangered;
}

.navbar button:hover,
.navbar button:focus {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.navbar .dropdown-menu-item {
    color: orangered;
    background-color: #fff;
}

.navbar .dropdown-menu-item:hover {
    color: #fff;
    background-color: orangered;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
}