.ocasionalservices {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.image-ocasional {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.image-ocasional::before {
    content: "";
    background-image: url("../../images/OcasionalServices/city2.jpg");
    background-size: cover;
    opacity: 0.6;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.button-page-number {
    background-color: white;
    color: orangered;
    border-color: orangered;
}

.button-page-number:hover {
    background-color: orangered;
    color: white;
}

.button-page-number:active {
    background-color: orangered !important;
    color: white !important;
}

.vehicle-information h5 {
    color: black !important;
}