@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Anek Odia';
  src: local('Anek Odia'), url(./fonts/anek-odia/static/AnekOdia-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Anek Odia Medium';
  src: local('Anek Odia Medium'), url(./fonts/anek-odia/static/AnekOdia-Medium.ttf) format('truetype');
}

* {
  font-family: "Quicksand";
}
